@model DProject.Models.Proposition;



@{
    ViewData["Title"] = "Створити пропозицію";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Ваша пропозиція</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label">Заголовок</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label">Зміст</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CityId" class="control-label">Місто</label>
                <select class="form-control" asp-for="CityId">
                    @foreach (var city in (IEnumerable<City>)ViewData["Cities"])
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-default btn-blue" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Proposition" asp-action="Index"><i class="fa fa-angle-double-left"></i> Назад</a>
</div>

